.buttonForm {
  background-color: #064b15; 
  margin: 0 auto; /*alinhamento centralizado na horizontal*/
  border: 2px solid rgb(12, 11, 11);
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 22px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.contextForm{
   border-radius: 5px;
   border: 2px solid rgb(8, 8, 8);
   background-color: #f1b669;
   padding: 20px;
}