#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .tableResponsive{
    overflow-x:auto;
  }

  .contextHeaderTable{
    border-radius: 5px;
    border: 2px solid rgb(8, 8, 8);
   background-color: #f1f5f3;;
   padding: 20px;
   align-items:center;
 }